# Security keys
JWT_SECRET=your_super_secret_key_needs_to_be_long_enough_for_hmac

# Database configuration
DB_PASSWORD=your_secure_postgres_password

# Frontend configuration
# If deploying to a remote server, change this to the server's public IP or domain (e.g. http://api.my-erp.com)
EXPO_PUBLIC_API_URL=http://localhost:8080/api
